body{
    margin: 0;
    background-color: rgb(25, 24, 23); 
    height: 2500px;
    overflow-x: hidden;
}
header,nav{
    font-variant: small-caps;
    letter-spacing: 3px;
    font-size: 10px;
}
header{
    background-image:url(/images/pozadina.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 500px;
    min-width: 700px;
}

h1{
    width: 300px;
    font-size: clamp(50px,70px,90px);
    font-weight: bolder;
    color: #fbcc01; 
    text-shadow: 4px 1px 4px #000000;
    position: relative;
    top: 30px;
    left: 10%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    box-shadow: none;
    backdrop-filter: none;
}

.con{
    justify-content: center;
    align-items: center;
    display: flex;
}
.slika{
    width: 300px;
    height: 300px;
    filter: drop-shadow(5px 5px 5px #000000);
    min-width: 250px;
    min-height: 250px;
}
.balkan{
    position: relative;
    top: 7%;
    right: 1%;
}

.naslov{
    background-color: aliceblue;
}

.link,.link1{
    margin: 0 10px;
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #fbcc01;
}
.spustaj{
    position: relative;
    top: 20%;
}
.link{
    background-color:#3f3f3f;
}
.link1{
    background-color: #000000;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-weight:bold;
    color: #fbcc01;
}

.img1,.img2,.img3{
    margin: 10% 0;
    padding: 0;
}

#mini{
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.dizi{
    position: relative;
    bottom: 20%;
}


.slike{
    background-color: rgb(25, 24, 23);
    padding: 10%;
    align-items: center;
    justify-content: center;
}
nav,.slike{
    display: flex;
}


.link:hover{
    background-color: rgba(202, 216, 222,0.5);
}
.link1:hover{
    background-color: #fbcc01;
}
.link1:hover .dizi{
    color: #000000;
}
.link:hover .spustaj{
    color: #515151;
}
.link:hover{
    background-color: #fbcc01;
}


#scrollbar6::-webkit-scrollbar {
    width: 12px;
}

#scrollbar6::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #95a5a6;
    border: 1px solid #cacaca;
}

#scrollbar6::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #2c3e50;
}
